@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: hsla(258, 49%, 9%, 1);
  background: linear-gradient(
    90deg,
    hsla(258, 49%, 9%, 1) 0%,
    hsla(227, 47%, 10%, 1) 49%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(258, 49%, 9%, 1) 0%,
    hsla(227, 47%, 10%, 1) 49%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(258, 49%, 9%, 1) 0%,
    hsla(227, 47%, 10%, 1) 49%
  );
  color: rgb(255, 255, 255);
}

.header {
  display: flex;
  height: 95vh;
}

.icpsq {
  width: 40%;
}
.header-txt {
  margin-top: 8%;
  width: 60%;
  padding: 3rem;
}
.entity {
  display: flex;
  justify-content: space-between;
}

.form-- {
  margin: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 3rem;
  background-color: rgba(25, 13, 36, 0.432);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 3rem;
  background-color: rgba(25, 13, 36, 0.432);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body {
  /* background: white; */
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}
